server:
  port: 9080
  servlet:
    context-path: /sports

iku:
  mini-program:
    database:
      hostname: 127.0.0.1
      port: 3306
      db-name: iku
    static-resource-server: http://localhost:9080${server.servlet.context-path}/static
    salt: 85f39a5014284b6caedd766f78b13388
    app-id: 123123a
    secret: 123a
    token: 1231asdfsa
    mch-id: 123ddasdeggasd
    expiry-in-days: 1
    machine-ip-addr: 127.0.0.1
    notify-url-addr: https://${iku.mini-program.machine-ip-addr}:${server.port}/api/payment/notification

spring:
  output:
    ansi:
      enabled: always
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url:  jdbc:mysql://${iku.mini-program.database.hostname}:${iku.mini-program.database.port}/${iku.mini-program.database.db-name}?useUnicode=true&characterEncoding=UTF8&useSSL=false&serverTimezone=GMT%2B8
    username: root
    #password: ENC(f8wyX1QMvhqW2JadWsnq/Q==)
    hikari:
      maximum-pool-size: 200
      minimum-idle: 5
      connection-test-query: SELECT 1
      connection-timeout: 1800
      idle-timeout: 1800
      validation-timeout: 1800
    password: qwer1234
  jpa:
    show-sql: true
  mvc:
    static-path-pattern: /static/**
  application:
    name: iku-sports

jasypt:
  encryptor:
    password: ${iku.mini-program.salt}
